    .BottomTextDiv {
        position: relative;    
        bottom: -300px;    
    }
    .BottomTextTop {
        text-align: center;
        font-size:12px;
        
    }
    .BottomTextMiddle {
        text-align: center;
        position: relative;
        font-size:12px;
        bottom: 35px;
    }
    .BottomText {
        text-align: center;
        position: relative;
        font-size:12px;
        bottom: 45px;
    }